@charset "UTF-8";

body, html {
    background-color: rgb(99, 170, 32);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 

header {
    background-color: rgb(72, 186, 133);
    grid-area: header;
}

main {
    background-color: rgb(207, 246, 173);
    grid-area: main;
}

aside {
    background-color: rgb(125, 186, 72);  
    grid-area:aside;
}

footer {
    background-color: rgb(51, 135, 96);  
    grid-area: footer;
}


.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 14vh 76vh 10vh;
    grid-template-areas: "header header"
                        "main aside"
                        "footer footer";
}